body{
    background-image: linear-gradient(to right, #dae2f8,#dfc4c4);
}


h2{
  font-family: Arial, Helvetica, sans-serif;  
  color: #000000;
}

p{
    font-family: Arial, Helvetica, sans-serif;  
  color: #000000;
}

footer{
    background-color: #BAE8E8;
}

hr{
    border: none;
    height: 11px;
    border-radius: 12px;
    width: 80%;
    background-color: #ffd803;
}